/* ==UserStyle==
@name           Tokopedia Dark Mode (Universal)
@namespace      github.com/flumiie/Tokopedia-Dark-Mode
@version        2.0
@description    Universal Dark mode for Tokopedia.com
@author         flumi
==/UserStyle== */
@-moz-document domain("www.tokopedia.com") {
  /* Global Inversion */
  html {
    filter: invert(1) hue-rotate(180deg);
    background-color: #f5f5f5; /* Reset base color for inverted rendering */
  }

  /* Counter-inversion for images and videos */
  img,
  video,
  [data-testid="imgProduct"],
  [data-testid="shop-avatar"] {
    filter: invert(1) hue-rotate(180deg);
  }
}
